@media only screen and (max-width: 1200px) { 
    html {
        font-size: 16px;
    }

    .header-main-box {
        transform: translate(-35%, -55%);
    }

    .products-section .btn {
        width: 80%;
        margin-left: 10%;
    }

    .products-box {
        width: 95%;
        height: 320px;
    }
}

/* small tablets to big tablets, from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .logo {
        width: 250px;
        margin-left: 15px;
        margin-top: -3%;
    }

    .main-nav {
        margin-right: 15px;
    }

    .main-nav li {
        margin-right: 10pxs;
        display: inline-block;
    }

    .header-main-box {
        transform: translate(-30%, -55%);
        top: 50%;
    }

    .social-icon li {
        margin-left: 15px;
        font-size: 240%;
    }

    .products-box {
        width: 95%;
        height: 300px;
    }

    .products-box .btn {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 90%;
    }

    .products-box ul li {
        margin: 20px 0px 10px 5%;
    }

    .products-box .small-icon {
        font-size: 95%;
    }
}

/* small phones to small tablets */
@media only screen and (max-width: 767px) {
    .col {
        width: 100%;
    }
    
    .sticky .main-nav {
        margin-top: 8px;
    }

    .main-nav {  
        display: none;
    }
 
    .mobile-nav-icon {
        display: block;
    }

    .logo {
        width: 350px;
        margin-top: -40px;
        margin-left: 13%;
    }

    .header-main-box {
        transform: translate(-25%, -55%);
        top: 50%;
        left: 70%;
    } 

    h1 {
        word-spacing: 3px;
        font-size: 250%;
    }
    
    .about-picture {
        text-align: center;
    }

    .about-picture img {
        /* margin-left: 5%; */
        width: 70%;
        margin-top: 30px;
    }

    .p-long {
        margin-bottom: 40px;
    }

    .picture-title {
        font-size: 25px;
        top: 55%;
        left: 53%;
    }

    .products-box {
        width: 60%;
        margin-left: 20%;
        margin-top: 15px;
    }

    .products-box ul li {
        margin: 20px 0px 10px 18%;
    }

    .testimonials-section .row .col {
        margin-bottom: 50px;
    }

    figure img {
        width: 90px;
    }

    figcaption {
        visibility: hidden;
    }

    form {
        width: 80%;
        margin-left: 10%;
    }

    label {
        margin-left: 35%;
    }

    .information {
        margin-top: 0px;
        margin-left: 15%;
    }

    .information li {
        font-size: 18px;
    }

    .social-icon {
        padding-top: 10px;
        padding-bottom: 20px;
        text-align: center;
    }
}

/* smaller phones, from 0 to 480px */
@media only screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }

    header {
        height: 60vh;
    }

    .logo {
        width: 200px;
        margin-top: 0%;
        margin-left: 20%;
    }

    h1 {
        font-size: 180%;
    }

    .header-main-box {
        top: 40%;
        transform: translate(-15%, -50%);
    }

    .header-main-box .btn {
        width: 13%;
        display: block;
        margin-bottom: 20px;
        margin-left: 2%;
    }

    .picture-title {
        font-size: 20px;
        top: 60%;
        left: 55%;
    }

    .information li {
        font-size: 14px;
        margin-left: -5%;
        margin-top: -5%;
    }

    form {
        width: 90%;
        margin-left: 5%;
    }

    .products-box {
        width: 90%;
        margin-left: 5%;
        height: 70%;
    }

    .sponsors-section img {
        width: 90%;
    }

    .mobile-nav-icon {
        right: 30px;   
    }
}